<main
  class="flex flex-col min-h-full justify-center text-center py-0 px-8 bg-gray-100 text-gray-600"
>
  <div class="font-reem text-4xl md:text-6xl font-semibold">
    Hello, I'm Joep Kockelkorn!
  </div>
  <div class="text-2xl md:text-4xl mt-4 mx-0 font-thin">
    Full Stack Dev | Front-end fanatic
  </div>
  <div class="icons-social">
    <a target="_blank" href="https://twitter.com/joepkockelkorn"
      ><i class="fab fa-twitter"></i
    ></a>
    <a target="_blank" href="https://www.linkedin.com/in/joepkockelkorn"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a target="_blank" href="https://medium.com/@joepkockelkorn"
      ><i class="fab fa-medium"></i
    ></a>
    <a target="_blank" href="https://github.com/joepkockelkorn"
      ><i class="fab fa-github"></i
    ></a>
    <a
      target="_blank"
      href="https://stackoverflow.com/users/5475829/joep-kockelkorn"
      ><i class="fab fa-stack-overflow"></i
    ></a>
  </div>
</main>
