<main>
  <div class="intro">Hello, I'm Joep Kockelkorn!</div>
  <div class="tagline">Full Stack Dev | Front-end fanatic</div>
  <div class="icons-social">
    <a target="_blank" href="https://twitter.com/joepkockelkorn"
      ><i class="fab fa-twitter"></i
    ></a>
    <a target="_blank" href="https://www.linkedin.com/in/joepkockelkorn"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a target="_blank" href="https://medium.com/@joepkockelkorn"
      ><i class="fab fa-medium"></i
    ></a>
    <a target="_blank" href="https://github.com/joepkockelkorn"
      ><i class="fab fa-github"></i
    ></a>
    <a
      target="_blank"
      href="https://stackoverflow.com/users/5475829/joep-kockelkorn"
      ><i class="fab fa-stack-overflow"></i
    ></a>
  </div>
</main>
